<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card id="loginCard">
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-input
          label="Email" label-placement="floating" email
          helperText="Enter a valid email"
          errorText="Invalid email"
          type="email" [(ngModel)]="loginData.mail"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          label="Password" label-placement="floating"
          type="password" [(ngModel)]="loginData.password"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="login()">Login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
