<ion-card id="loginCard">
  <ion-card-header>
    <ion-card-title>Login</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none">
      <ion-input
        label="Email" label-placement="floating" email
        helperText="Enter a valid email"
        errorText="Invalid email"
        type="email" [(ngModel)]="loginData.mail"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input
        label="Password" label-placement="floating"
        type="password" [(ngModel)]="loginData.password"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="login()">Login</ion-button>
  </ion-card-content>
</ion-card>
