<ion-card>
  <ion-card-header>
    <ion-card-title>
      <ion-row class="ion-justify-content-between">
        Liste des pods
        <ion-icon #refreshIcon class="refreshButton"
                  name="refresh-outline" color="primary"
                  (click)="refreshButton()"></ion-icon>
      </ion-row>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-searchbar #searchbar show-clear-button="always" placeholder="Rechercher"
                   (ionInput)="searchEvent()"></ion-searchbar>
  </ion-card-content>
</ion-card>
<ion-content class="tabContent">
  <ion-list>
    <ion-item class="listItem">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let header of headers" [size]="header.size">
            <ion-button fill="clear" color="dark" expand="full" class="buttonHeader" (click)="sortData(header)">
              {{ header.title }}
              <ion-icon *ngIf="header.sort !== 0" slot="end"
                        [name]="'chevron-' + (header.sort < 0 ? 'up' : 'down') + '-outline'"
                        name="chevron-down-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item *ngFor="let pod of displayPods; index as index" class="listItem mediumButton">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <ion-label class="ion-text-center">
              {{ pod.namespace }}
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label class="ion-text-center">
              {{ pod.name }}
            </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="ion-text-center">
              {{ pod.cpu }}
            </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="ion-text-center">
              {{ pod.memory }}
            </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="ion-text-center">
              {{ pod.disk }}
            </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="ion-text-center">
              {{ pod.status }}
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label class="ion-text-center">
              {{ pod.date }}
            </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label class="ion-text-center">
              {{ pod.lastUse }}
            </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-button [id]="pod.name" fill="clear" color="danger" expand="full" class="buttonHeader">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
            <ion-alert
              [trigger]="pod.name"
              header="Suppression"
              message="Voulez-vous vraiment supprimer ce pod ?"
              [buttons]="[{text: 'Annuler', role: 'cancel'},
                {text: 'Supprimer',role: 'confirm'}]"
              (didDismiss)="onClickDeletePod($event, pod)">
            >
            </ion-alert>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
