/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
//@import "@ionic/angular/css/palettes/dark.system.css";


// permet de surélever la page pour s'afficher au dessus du tabs
//.md section {
//  margin: 95px 0;
//}
//
//.ios section {
//  margin: 0 !important;
//}

ion-card > .header-md {
  box-shadow: rgb(210 106 101 / 20%) 0 3px 1px -2px,
  rgb(210 106 101 / 0) 0 2px 2px 0px,
  rgb(210 106 101 / 0) 0 1px 5px 0px !important;
  width: 90%;
  margin: auto 5%;
}

.header-md {
  box-shadow: rgb(210 106 101 / 20%) 0 3px 1px -2px,
  rgb(210 106 101 / 14%) 0 2px 2px 0px,
  rgb(210 106 101 / 12%) 0 1px 5px 0px !important;
}

ion-searchbar {
  --box-shadow: rgb(210 106 101 / 20%) 0 3px 1px -2px,
  rgb(210 106 101 / 14%) 0 2px 2px 0px,
  rgb(210 106 101 / 12%) 0 1px 5px 0px !important;
}

ion-card {
  box-shadow: rgb(210 106 101 / 20%) 0 3px 1px -2px, rgb(210 106 101 / 14%) 0 2px 2px 0px, rgb(210 106 101 / 12%) 0 1px 5px 0px !important;
}

ion-item {
  --border-color: var(--ion-color-primary-tint);
}

.refreshButton {
  cursor: pointer;
}

.mediumButton {
  --color: var(--ion-color-medium);
}

.listItem {
  padding-right: 16px;
}

.tabContent::part(scroll) {
  scrollbar-width: thin;
}

.buttonHeader {
  font-size: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  margin: 0;
}
